# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=office_care

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@physioflow.com
PGADMIN_DEFAULT_PASSWORD=admin
